<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		    = "com.github.santeriv.pulljson.lounaspori.app"
	version 	= "1.0.0">

	<name>lounaspori</name>

	<description>
        Listaa eri lounaspaikkojen ruokalistoja Porissa 
	</description>

	<author href="http://www.github.com/santeriv" email="santeri.vesalainen@gmail.com">
		Santeri Vesalainen
	</author>

  <preference name="splash-screen-duration" value="3000" />
  <preference name="permissions" value="none"/>

  <!--icon src="./apple-touch-icon-72x72-precomposed.png" width="72" height="72" /-->  
  <icon src="images/drawable-mdpi/ic_launcher.png" width="72" height="72" />  

  <gap:splash src="images/drawable-mdpi/startup.png" />
  
  <feature name="http://api.phonegap.com/1.0/device" />
  <!-- Added because of WinPhone issue https://github.com/phonegap/build/issues/109#issuecomment-27545497 -->

  <access origin="*" browserOnly="true" />
  
</widget>